@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #163152;
  --color-turquoise: #00c6bd;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--color-dark);
}

.title-main {
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: var(--color-turquoise);
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.datetime {
  font-size: 14px;
  text-transform: uppercase;
}

p {
}

.title-contact {
  font-weight: 700;
}

.contact-content {
  text-decoration: none;
  color: var(--color-dark);
  font-style: normal;
}
